.custom-contact {
    background-color: rgb(238, 237, 237);
    padding: 50px;
}


/* h1 {
    text-align: center;
} */

.white-content {
    background-color: white;
    padding: 50px;
}

a {
    color: #000 !important;
    font-size: 14px;
}

h6 a {
    font-size: 16px !important;
}

p {
    font-size: 14px !important;
    margin: 0;
}

h4 {
    margin: 15px 0;
}

@media(max-width:900px) {
    .custom-contact {
        padding: 40px 10px 40px 10px;
    }
}

@media(max-width:768px) {
    .custom-contact {
        padding: 30px 0 30px 0;
    }
}